@media only screen and (max-device-width: 1024px) {
    header > #logo {
    	display: none;
    }
    .header_elements {
    	margin-left: 0 !important;
    }
    .decoration_panel {
    	display: none;
    }
    footer {
    	text-align: center;
    }
}